IDI_ICON1 ICON DISCARDABLE "icons/sbi.ico"

#include <Windows.h>             	// VERSIONINFO
#include "../src/api/definitions.h"	// STRINGIFY
#include "../src/api/version.h"		// holds the client version info

#define VER_PRODUCTVERSION     APPLICATION_VERSION_MAJOR,APPLICATION_VERSION_MINOR,APPLICATION_VERSION_REVISION,APPLICATION_VERSION_BUILD
#define VER_PRODUCTVERSION_STR STRINGIFY(APPLICATION_VERSION_MAJOR) "." STRINGIFY(APPLICATION_VERSION_MINOR) "." STRINGIFY(APPLICATION_VERSION_REVISION) "." STRINGIFY(APPLICATION_VERSION_BUILD)
#define VER_FILEVERSION        VER_PRODUCTVERSION
#define VER_FILEVERSION_STR    VER_PRODUCTVERSION_STR

VS_VERSION_INFO VERSIONINFO
FILEVERSION     VER_FILEVERSION
PRODUCTVERSION  VER_PRODUCTVERSION
FILEOS          VOS_NT_WINDOWS32
FILETYPE        VFT_APP
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904E4" // U.S. English - multilingual (hex)
        BEGIN
            VALUE "CompanyName",        "Trezanik"
            VALUE "FileDescription",    "Social Bot Interface"
            VALUE "FileVersion",        VER_FILEVERSION_STR
            VALUE "InternalName",       "sbi"
            VALUE "LegalCopyright",     "2013-2014 trezanik.org"
            VALUE "LegalTrademarks1",   "Distributed under the Zlib software license, see http://opensource.org/licenses/zlib-license.php."
            VALUE "OriginalFilename",   "sbi.exe"
            VALUE "ProductName",        "Social Bot Interface"
            VALUE "ProductVersion",     VER_PRODUCTVERSION_STR
        END
    END

    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0, 1252 // language neutral - multilingual (decimal)
    END
END
