/*
 * This contains the bare-minimum styles we want to implement. 
 * Avoid all styles and elements that can cause issues in major browsers.
 * This is shared between all build instructions.
 * Comment the purpose behind all styles here, otherwise remove them. 
 */
 
/* replacement font for whole page */
body {
	font-family: "Segoe UI","Trebuchet MS","DejaVu Sans","Liberation Sans","Ubuntu",Helvetica,Sans-Serif;
}
 
/* forced padding so the text doesn't flow too easily */
code {
	padding-left: 6px;
	padding-right: 6px;
	font-family: Courier,Consolas,monospace;
}

/* make header separation clearer (all h elements) */
h1 {
	border-bottom: 1px solid #cc8700;
	text-align: center;
}
h2 {
	border-top: 1px solid #ff6600;
	border-bottom: 1px solid #ff6600;
	padding-top: 8px;
	padding-bottom: 8px;
	text-align: center;
}
h3 {
	border-bottom: 1px solid #4444ff;
	border-width: 75%;
	padding-top: 8px;
	padding-bottom: 8px;
}
h4 {
	border-bottom: 1px solid #8ac007;
	border-width: 60%;
	padding-top: 10px;
	padding-bottom: 5px;
}
h5 {
	border-bottom: 1px solid #663399;
	border-width: 50%;
	padding-top: 5px;
	padding-bottom: 5px;
}

/* tables and all elements have borders */
table, tr, td {
	border: 1px solid #000000;
	border-collapse: collapse;
}
/* table headers are centered and bold */
thead td {
	text-align: center;
	font-weight: bold;
}
/* table cells have adequate padding */
td {
	padding: 3px;
}
